<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <title>Reports</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="css/dashboard.css" rel="stylesheet">
</head>


<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">Dashboard</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/report1">Report One</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/report2">Report Two</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/help">Help</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">


    <form method="get" action="report1">
        <div class="form-group">
            <label for="keyword">Keywords:</label>
            <input type="text" class="form-control" name="keyword" value="<?php echo isset($param['keyword']) ? $param['keyword'] : NULL ?>">
        </div>

        <div class="form-group">
            <select name="order_by" class="form-control">
                <option value="_id" default>ID</option>
                <option value="age" >Age</option>
                <option value="first_name">First Name</option>
            </select>
        </div>

        <div class="form-group">
            <select name="order_type" class="form-control">
                <option value="asc" default>ASC</option>
                <option value="desc">DESC</option>
            </select>
        </div>
        <input type="hidden" class="form-control" name="page" value="<?php echo isset($param['page']) ? $param['page'] : 1 ?>">
        <input type="submit" name="search" value="new" class="btn btn-default">
    </form>


    <h2>Report 1</h2>
    <div class="table-responsive">


        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>REPORT ID</th>
                <th>REPORT CODE</th>
                <th>TITLE</th>
                <th>PAGE</th>
                <th>EXHIBITS</th>
                <th>PUBLISHED</th>
                <th>FORCAST</th>
                <th>PUBLISHER</th>
                <th>DISTRIBUTOR</th>
                <th>OVERVIEW</th>
                <th>TOC</th>
                <th>COMPANIES</th>
                <th>BROCHURE URL</th>
                <th>PRICE SINGLE</th>
                <th>PRICE CORPORATE</th>
                <th>META KEYWORDS</th>
                <th>META DESCRIPRION</th>
                <th>TYPE</th>
                <th>TIMESTAMP</th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($result as $key=>$val):?>
                <tr>
                    <td><?php echo $val['_source']['report_id'] ?></td>
                    <td><?php echo $val['_source']['report_code'] ?></td>
                    <td><?php echo $val['_source']['title'] ?></td>
                    <td><?php echo $val['_source']['pages'] ?></td>
                    <td><?php echo $val['_source']['exhibits'] ?></td>
                    <td><?php echo $val['_source']['published'] ?></td>
                    <td><?php echo $val['_source']['forecast'] ?></td>
                    <td><?php echo $val['_source']['publisher'] ?></td>
                    <td><?php echo $val['_source']['distributor'] ?></td>
                    <td><?php echo $val['_source']['overview'] ?></td>
                    <td><?php echo $val['_source']['companies'] ?></td>
                    <td><?php echo $val['_source']['brochure_url'] ?></td>
                    <td><?php echo $val['_source']['price_single'] ?></td>
                    <td><?php echo $val['_source']['price_corporate'] ?></td>
                    <td><?php echo $val['_source']['meta_keywords'] ?></td>
                    <td><?php echo $val['_source']['meta_description'] ?></td>
                    <td><?php echo $val['_source']['type'] ?></td>
                    <td><?php echo $val['_source']['timestamp'] ?></td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>


    </div>

    <?php echo $html ?>
</main>




<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

</body>
</html>
